.watch {
    width: 100vw;
    height: 100vh;
    
    .back {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 2;

        .fas{
            margin-right: 10px;
        }
    }

    .video {
        width: 99.5%;
        height: 99.5%;
        object-fit: cover;
    }
}